---
---
@import "minima";

/* Принудительное расширение контейнера для старых и новых версий Minima */
.wrapper, .site-header .wrapper, .site-footer .wrapper {
    max-width: 1200px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

/* Расширяем область самой статьи, если она ограничена отдельно */
.post {
    max-width: 100% !important;
}
